<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>  
    <h1>Lista de Productos</h1>
    <ul>
    {% for producto in productos %}
        <li>
            <strong>{{ producto.nombre }}</strong><br>
            {{ producto.precio }}$<br>
            {{ producto.fechapublicacion }}
        </li>
    {% endfor %}
    </ul>
{% extends 'base.html' %}

{% block title %}Lista de Productos{% endblock %}

{% block content %}
    <h1>Lista de Productos</h1>
    <ul>
    {% for producto in productos %}
        <li>
            <strong>{{ producto.nombre }}</strong><br>
            {{ producto.precio }}$<br>
            {{ producto.fechapublicacion }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}